body{
    font-family:Arial,san-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/*global*/
.container{
     width:80%;
     margin:auto;
     overflow:hidden
}

.shadow{
    background-color:#f0ffff;
}

/*header*/
header{
    background:#000080;
    color:#ffff;
    padding-top:30px;
    min-height:70px;
    border-top:#e8491d 10px solid;
    border-bottom:#e8491d 10px solid;
}

header a{
    color:#ffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}



header ul{
    margin: 0px;
    padding: 0px;
}

header li{
    float:left;
    padding: 0 20px 0 20px;

}

header li{
    
    display: inline;
}

header .branding{
    float:left;   
   
   }
   
   header .branding{
       margin:0;   
      
      }
   
   header nav{
       float:right;   
      
      }
   

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;   
   
   }

header a:hover{
    color:#cccccc;
    font-weight: bold;
}   

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size:20px;
  }

  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  


footer{
    padding:20px;
    background-color:#000080;
    color:#ffff;
    text-align:center
       
}

footer p{
    background:#ff0000;
    color:#ffff;
    
}

@media(max-width:768px){
  header .branding,
  header nav,
  header nav li{
      float:none;
      text-align:center;
      width:100%;
      
  }
  header nav a {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
    }

    .for {
      overflow-x: auto;
      display: block;
  }

  }

 

