.container2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

 .content {
    height: 100%;
    width: 450px;
    margin: auto;
    margin-top: 100px;
    border: 0px solid red;
    
  }

  #nameBar {
    background-color: red;
    color: white;
    height: 25px;
    font-weight: bold;
    padding: 2px;
  }
  
  




 .content h2{
    font-size: 25px; 
    margin: 25px 25px;
    font-weight: bold;
 }
 
#error-msg {
    font-size: 18px;
    color: rgb(54, 54, 54);
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    color: red;
    text-align: center;
  }


/*global*/

.shadow{
    background-color:#f0ffff;
}

table, th, td {
    border: 1px solid black;
    width:50%;
    }
    
    table th {
      
        text-align:center;
    }
    
    table td {
        text-align:center;
    }
    

    

    
.for {
    color:white;
    background-color:navy;
    }
    
    #logout {
        background-color: red;
        color: rgb(231, 231, 231);
        padding: 3px 12px;
        font-size: 10px;
        cursor: pointer;
        border-bottom: 3px solid gray;
        border-right: 3px solid gray;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom:5px;
      }
      
      #logout:hover {
        background-color: rgb(240, 112, 112);
        padding: 6px 16px;
      }
    
      .footer {
        background-color: #7c4945;
      }
      
      .footer p {
        border: 1px solid rgba(255, 255, 255 0.4);
        display: flex;
        color: white;
        justify-content: center;
        margin: 8px 0 0 0;
        height: 20px;
        padding: 11px 0;
        background-color: #353b48;
        align-items: center;
      }
  
      @media screen and (max-width: 320px) {
  
        .header a {
          margin-right: 5px;
          font-size: 8px;
        }
      
        .footer p {
          margin: 5px 0;
          padding: 3px 3px;
          font-size: 5px;
          font-weight: bold;
          
        }
      
      }
      
      
      @media screen and (max-width: 414px) {
        .par {
          font-size: 10px;
          font-weight: bold;
        }
      
        .terms {
          font-size: 8px;
          font-weight: bold;
        }
        
        table {
          width: 20%;
      }
        
      .content  {
       
        width: 280px;
      }
    
      .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
        font-size: 10px;
        padding: 0 15px;
      }
    
      .header>.logo>span>em {
        font-size: 10px;
      }
    
      .header a {
        margin-right: 7px;
        font-size: 12px;
      }
    
      .footer p {
    
        padding: 3px 0;
        font-size: 8px;
        font-weight: bold;
    
      }
    
    }
