/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 35px;
  padding: 15px;
  margin: 5px 0 0 0;
  display: block;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  border: 2px solid red;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.signinbtn {
  margin: 20px 0px;
  width: 100px;
  height: 35px;
  color: white;
  background-color: red;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.par a {
  text-decoration: none;
}

#skyblue {
  color: skyblue;
}

.content {
  height: 100%;
  width: 450px;
  margin: auto;
  border: 0px solid red;
  color: white;
  
}

.content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid #09f;
  padding: 0 10px;
}

.content .form_row {
  margin-top: 20px;
  width: 100%;
}
 
.par{
    margin-left:20px;
}

.intro {
    background-color: #353b48;
    height: 100%;
}

form h1 {
  padding-top: 50px;
}

.content h1,
p {
  margin: 20px 0px;
}

.content form div {
  justify-content: center;
  width: 50%;
}

.content form div label {
  /* float:left;  */
  width: auto;
}

.footer {
  background-color: #7c4945;
}

.footer p {
  border: 1px solid rgba(255, 255, 255 0.4);
  display: flex;
  color: white;
  justify-content: center;
  margin: 8px 0 0 0;
  height: 20px;
  padding: 11px 0;
  background-color: #353b48;
  align-items: center;
}

@media screen and (max-width: 320px) {
  
    .header a {
      margin-right: 5px;
      font-size: 8px;
    }
  
    .footer p {
      margin: 5px 0;
      padding: 3px 3px;
      font-size: 5px;
      font-weight: bold;
      
    }
  
  }
  
  
  @media screen and (max-width: 414px) {
    .par {
      font-size: 10px;
      font-weight: bold;
    }
  
    .terms {
      font-size: 8px;
      font-weight: bold;
    }
    
    
  .content  {
   
    width: 280px;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    font-size: 10px;
    padding: 0 15px;
  }

  .header>.logo>span>em {
    font-size: 10px;
  }

  .header a {
    margin-right: 7px;
    font-size: 12px;
  }

  .footer p {

    padding: 3px 0;
    font-size: 8px;
    font-weight: bold;

  }

}