* {
  padding: 0;
  margin: 0;
}

.shadow {
  background-color: #f0ffff;
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

.header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* .card ul{
  display:block;
  margin: 10px;
}

.card ul li{
  margin-bottom:10px ;
} */

#logout {
  background-color: red;
  color: rgb(231, 231, 231);
  padding: 3px 12px;
  font-size: 10px;
  width: 65px;
  cursor: pointer;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#logout:hover {
  background-color: rgb(240, 112, 112);
  padding: 6px 16px;
}

#nameBar {
  background-color: red;
  color: white;
  height: 25px;
  font-weight: bold;
  padding: 2px;
}

.banner {
  width: 100%;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

#dashboard {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 20px; */
}

#Link {
  color: #cccaca;
  font-size: 22px;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #393939;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  text-decoration: none;
}

.orderLink:hover {
  background-color: #555454;
}

.banner h1 {
  color: red;
}

.banner nav {
  text-align: left;
  max-width: 250px;
  width: 100%;
  background-color: lightgray;
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 0;
}

.banner nav li {
  font-size: 20px;
  font-family: tahoma;
}

.intro {
  background-color: #353b48;
  height: 100%;
}

.table {
  margin-top: 130px;
  font-size: 15px;
}

tbody {
  color: white;
}

#error-msg {
  font-size: 18px;
  color: rgb(54, 54, 54);
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  color: red;
}

#error-msg2 {
  font-size: 18px;
  color: rgb(54, 54, 54);
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  color: red;
}

.destinationh2 {
  margin: 20px 0;
}

.dest_reporter {
  display: none;
  font-size: 14px;
}

.dest_reporter.success {
  color: green;
}

.dest_reporter.error {
  color: green;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  float: left;
}

.centerOverlay {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  padding: 15px;
  border: 1px solid white;
  background: white;
}

.centerOverlay form {
  width: 100%;
  height: 100%;
}

.centerOverlay form input {
  width: 100%;
}

input[type="text"]:focus {
  background-color: #ddd;
  border: 2px solid red;
}

button {
  background: black;
  color: white;
  margin-top: 35px;
}

.cancel {
  padding: 2px;
  border: 2px solid rgb(160, 21, 21);
  cursor: pointer;
  background-color: red;
}

.footer {
  background-color: #7c4945;
}

.footer p {
  border: 1px solid rgba(255, 255, 255 0.4);
  display: flex;
  color: white;
  justify-content: center;
  margin: 8px 0 0 0;
  margin-bottom: 0;
  height: 20px;
  padding: 11px 0;
  background-color: #353b48;
  align-items: center;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  padding: 5px;
  font-family: arial;
} */

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 360px) {
  #Link {
    font-size: 15px;
  }

  

  #logout {
    font-size: 3px;
  }

  .footer p {
    margin: 5px 0;
    padding: 3px 3px;
    font-size: 5px;
    font-weight: bold;
  }

  #logout {
    font-size: 6px;
    padding: 2px;
    font-weight: bold;
  }
}

@media screen and (max-width: 375px) {
  #logout {
    font-size: 8px;
    margin-right: 2px;
    padding: 2px;
    font-weight: bold;
  }

  

  .footer p {
    margin: 5px 0;
    padding: 3px 3px;
    font-size: 5px;
    font-weight: bold;
  }
}

@media screen and (max-width: 414px) {
  .data {
    display: none;
    /* font-size: 8px; */
  }

  thead {
    height: 50px;
  }

  .content {
    width: 280px;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    font-size: 10px;
    padding: 0 10px;
  }

  .header > .logo > span > em {
    font-size: 10px;
  }

  .header a {
    margin-right: 7px;
    font-size: 12px;
  }

  .footer p {
    padding: 3px 0;
    font-size: 8px;
    font-weight: bold;
  }
}
